   <div class="container">
      <% flash.each do |msg_class, msg| %>
        <div class="alert alert-<%= msg_class %>"><%= msg %></div>
      <% end %>
      <%= yield %>
    </div>
</p>
<strong>Title:</strong>
<%= @book.title %>
<p>
<strong>Body:</strong>
<%= @book.body %>
<p>
<%= link_to "Edit", edit_book_path(@book.id) %> |
<%= link_to "Back", "/books" %>
</p>